body{
    margin: 0%;
    padding: 0%;
}
.outer-panel{
    width:60%;
    padding: 0% 7%;
    background-color: rgb(0,0,0.059);
}
.container{
    display: flex;
    justify-content: center;
}
.inner-panel{
    background-color:rgba(255,255,255, 0.55) ;
    box-shadow: 1px 2px 10px rgb(0,0,0,0.34);
}
p{
    font-size: 12px; 
}
button{
    font-size:13px !important;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    margin: 2%;
    border:1px solid rgba(0,0,0,0.55);
    text-align:center;
    padding-top: 12px ;
}