.about{
    margin: 30px;

}

.about1 p{
    text-align: center;
    background-color: aqua;

}

.about1 h1{
    text-align: center;
    color: blue;
    margin-bottom: 10px;

    
}

.services{
    margin: 30px;
    
    

}

.services1 p{
    color: rgb(12, 12, 11);
    background-color: bisque;
}

.services1 h1{
    text-align: center;
    color: black; 
    margin-bottom: 10px;
}
body{
    background-color: blueviolet;
}