*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar*/
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0 ,0,0,0.5 );
    position: sticky;
    top: 0;

}
.navbar ul{
    display: flex;
    list-style: none;
    margin:20px 0px ;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: beige;
    padding: 8px 25px;
    transition: all.5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: blueviolet;
    box-shadow: 0 0 10px white;
}





/*Home Section*/
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0 ,0,0,0.5 );
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgb(4, 1, 12);

}
#home::before{
    content:"" ;
    position: absolute;
    top: 0;
    right: 0;
    background: url('gallary/img2.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding:10px 35px ;
    background-color: transparent;
    border: 1px solid whitesmoke;
    outline: none;
    color: white;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(17, 114, 8);
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rcm;
    margin-bottom: 20px;
    
}
/* Portfolio Section */
#Portfolio{
    display: flex;
    flex-direction: column;
    background-color: #000000e6;
    color:rgb(2, 0, 20);
    align-items: center;
    padding: 20px;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;

}
/* services section*/
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;

    
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px; 
    border:1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(72, 60, 145)50%,white 50%);
    background-size: 100% 200%;
    transition: all .8s;


}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(81, 45, 95);
}